
    <div ng-controller="MeetingStorageCtrl as msc" ng-submit="msc.publishMeeting()">

        <h1>Hallo</h1>
        <form ng-submit="msc.createMeeting()">
        <input type="text" placeholder="goal" ng-model="msc.meeting.goal"
                ng-blur="msc.updateDatabase()">
        <input type="text" placeholder="time" ng-model="msc.meeting.date"
               ng-blur="msc.updateDatabase()">
        <button type="submit">Publish</button>
        </form>
        <hr>
        <h4>Debug:</h4>
        <pre>{{ mc.meetings | json }}</pre>

        <a ng-click="msc.flush()">Flush</a>

    </div>