<div class="frame" ng-controller="OfflineCreationMeetingCreateCtrl as omcc">
    <div class="colorbar" ng-style="{'background-color':'{{omcc.meeting.color}}'}">
        &nbsp;
    </div>
    <div class="content meeting">
        <form ng-submit="omcc.publishMeeting()" name="meetingForm">
            <div class="meeting-header">
                <div class="meeting-header-goal" class="row">
                    <input type="text" placeholder="Meetinggoal" class="form-control" ng-model="omcc.meeting.goal" ng-change="omcc.updateDatabase()" required>
                    <hr />
                </div>
                <div class="meeting-header-information row">
                    <div class="col-md-6">
                        <input type="email" placeholder="Organisator" class="form-control" ng-model="omcc.meeting.organizer" ng-change="omcc.updateDatabase()" required>

                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Time" class="form-control" ng-model="omcc.meeting.date" ng-change="omcc.updateDatabase()" style="text-align: right" name="Time" required>
                    </div>
                </div>
                <div  class="meeting-header-attendees row">
                    <div class="col-xs-12">
                        <h2>Attendees:</h2>
                        <div class="col-md-4 col-sm-12 attendee" ng-repeat="attendee in omcc.meeting.attendees track by $index">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Attendee"  ng-model="omcc.meeting.attendees[$index]" ng-change="omcc.updateDatabase()">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="omcc.removeAttendee($index)"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-1" style="padding: 0px;">
                            <button type="button" class="btn btn-primary" ng-click="omcc.addAttendee()"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meeting-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table>
                            <thead>
                            <tr>
                                <th class="meeting-point-type">Type</th>
                                <th class="meeting-point-note">Note</th>
                                <th class="meeting-point-owner">Owner</th>
                                <th class="meeting-point-due">Due</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="meetingPoint.pointType" ng-repeat="meetingPoint in omcc.meeting.meetingPoints track by $index">
                                <td class="meeting-point-type">
                                    <select class="form-control" ng-model="meetingPoint.pointType">
                                        <option value="todo">To-Do</option>
                                        <option value="decision">Decision</option>
                                        <option value="info">Info</option>
                                    </select>
                                </td>
                                <td class="meeting-point-note">
                                    <input class="form-control" placeholder="Note" ng-model="meetingPoint.subject" ng-change="omcc.updateDatabase()">
                                </td>
                                <td class="meeting-point-owner">
                                    <input class="form-control" placeholder="Owner"ng-model="meetingPoint.owner" ng-change="omcc.updateDatabase()">
                                </td>
                                <td class="meeting-point-due">
                                    <input class="form-control" placeholder="Due Date" ng-model="meetingPoint.dueDate" ng-change="omcc.updateDatabase()">
                                </td>
                                <td><td class="delete" ng-click="omcc.removeMeetingPoint($index)"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span></button></td></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" ng-click="omcc.addMeetingPoint()"><span class="glyphicon glyphicon-plus"></span> Add Meetingnote</button>
                    </div>

                </div>
            </div>
            <div class="meeting-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary" ng-hide="omcc.meeting.remote"><span class="glyphicon glyphicon-send"></span> Publish</button>
                        <button type="submit" class="btn btn-primary" ng-show="omcc.meeting.remote"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>

                    </div>
                </div>
            </div>
        </form>
        <hr />
        <h4>Debug:</h4>
        <pre>{{ omcc.meeting | json }}</pre>
        <a ng-click="omcc.flush()">Flush local database</a>
    </div>
</div>