<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h3>Meetings</h3>
                </div>
                <div id="note-container" ng-controller="HomeMeetingListCtrl as mlc">
                    <div class="note">
                        <div class="add-meeting">
                            <a href="/#/meeting/create">
                                <span class="glyphicon glyphicon-plus"></span><br />
                                Add Meeting
                            </a>
                        </div>
                    </div>
                    <div class="note" ng-repeat="meeting in mlc.meetings" ng-class="meeting.color">
                        <div class="note-frame">
                            <div class="meeting-summary-colorbar">
                                <div class="colorbar-date">
                                    <span class="month">{{meeting.updated | date:'MMM'}}</span>
                                    <span class="day">{{meeting.updated | date:'dd'}}</span>
                                    <span class="weekday">{{meeting.updated | date:'EEE'}}</span>
                                </div>
                            </div>
                            <div class="meeting-content">
                                <h5 ng-hide="meeting.goal == ''"><a ng-href="/#/meeting/create?id={{meeting._id.oid}}">{{meeting.goal}}</a></h5>
                                <h5 ng-show="meeting.goal == ''"><a ng-href="/#/meeting/create?id={{meeting._id.oid}}">(No Name)</a></h5>
                                <div class="meeting-note-goal">
                                    <p>{{meeting.goalReached + '%'}} Ziel erreicht</p>
                                    <img ng-show="meeting.goalReached <= 20" src="/assets/images/emoticons/smiley-3.png" />
                                    <img ng-show="meeting.goalReached > 20 && meeting.goalReached <= 60" src="/assets/images/emoticons/smiley-11.png" />
                                    <img ng-show="meeting.goalReached > 60 && meeting.goalReached <= 80" src="/assets/images/emoticons/smiley-9.png" />
                                    <img ng-show="meeting.goalReached > 80 && meeting.goalReached <= 90" src="/assets/images/emoticons/smiley-8.png" />
                                    <img ng-show="meeting.goalReached > 90" src="/assets/images/emoticons/smiley-6.png" />
                                </div>
                                <div class="meeting-note-todo">
                                    <p>{{meeting.todoReached + '%'}} ToDos erledigt</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" ng-style="{width : ( meeting.todoReached + '%' ) }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="row" ng-controller="ToDoListCtrl as tlc">
                    <h3>ToDo</h3>
                    <div class="todo-item" ng-repeat="todo in tlc.todos">
                        <div class="todo-actions">
                            <div>
                                <button type="button" class="btn">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <span>DONE</span>
                            </div>
                            <div>
                                <button type="button" class="btn">
                                    <span class="glyphicon glyphicon-time"></span>
                                </button>
                                <span>LATER</span>
                            </div>
                        </div>
                        <div class="todo-info">
                            <h5><a href="#">{{todo.subject}}</a></h5>
                            <div>
                                <div class="due-date">
                                    <span>{{todo.duedate | date:'dd.MM.yyyy HH:mm'}}</span>
                                </div>
                                <div class="time-left">
                                    <span>-1d left</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row" style="background-color: cadetblue">
                    <div class="col-xs-12">
                        <h3>Rangliste</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#note-container').freetile({
            selector: '.note',
            animate: true,
            elementDelay: 30
        });
    });
</script>