<div id="container">
    <div class="prodcont" style="width: 50%; background-color: blue;">asdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeasdfa sdf
        asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadk
        j föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn w

        eqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sa
        df sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpinf weqn fp</div>
    <div class="prodcont" style="width: 50%; background-color: yellow;">...</div>
    <div class="prodcont" style="width: 50%; background-color: red;"> oqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sad
        f sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qp
        woienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf
        sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj
        spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf </div>
    <div class="prodcont" style="width: 50%; background-color: blue;">...</div>
    <div class="prodcont" style="width: 50%; background-color: yellow;">...</div>
    <div class="prodcont" style="width: 50%; background-color: red;">adf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa s
        df asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf h
        sadkj föasdiofj spodihf qpwoienfd pwquieon poiwefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdiofj spodihf qpwoienfd pwquieon poi
        wefn woqeinf weqn fpasdfa sdf asdf asdf sadf sadf sadf sadf sadf sadfsdf hsadkj föasdi</div>
    <div class="prodcont" style="width: 50%; background-color: blue;">...</div>
    <div class="prodcont" style="width: 50%; background-color: yellow;">...</div>
    <div class="prodcont" style="width: 50%; background-color: red;">...</div>
    <div class="prodcont" style="width: 50%; background-color: blue;">...</div>
    <div class="prodcont" style="width: 50%; background-color: yellow;">...</div>
    <div class="prodcont" style="width: 50%; background-color: red;">...</div>
</div>



<script>
    $(document).ready(function() {
        $('#container').freetile({
            selector: '.prodcont',
            animate: true,
            elementDelay: 30
        });
    });
</script>