<div class="row home">
    <div class="col-md-6 home-notes">
        <div class="meeting-summary">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" style="background-color: #1ABC9C;">
                    <div class="colorbar-date">
                        <span class="month">Oct</span>
                        <span class="day">27</span>
                        <span class="weekday">Mon</span>
                    </div>
                </div>
                <div class="meeting-summary-content">
                    <h2>Entscheiden über Vorgehen</h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <span>r1bader@hsr.ch</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="meeting-summary">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" style="background-color: #D35400;">
                    <div class="colorbar-date">
                        <span class="month">Dec</span>
                        <span class="day">14</span>
                        <span class="weekday">Tue</span>
                    </div>
                </div>
                <div class="meeting-summary-content">
                    <h2>Besprechen des Codes</h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <span>r1bader@hsr.ch</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="meeting-summary">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" style="background-color: #2980B9;">
                    <div class="colorbar-date">
                        <span class="month">Jan</span>
                        <span class="day">13</span>
                        <span class="weekday">Fri</span>
                    </div>
                </div>
                <div class="meeting-summary-content">
                    <h2>Besprechen des weiteren vorgehens</h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <span>r1bader@hsr.ch</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="meeting-summary">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" style="background-color: #27AE60;">
                    <div class="colorbar-date">
                        <span class="month">Oct</span>
                        <span class="day">27</span>
                        <span class="weekday">Mon</span>
                    </div>
                </div>
                <div class="meeting-summary-content">
                    <h2>Entscheidung für App Prototyp</h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <span>r1bader@hsr.ch</span>
                    </div>

                </div>
            </div>
        </div>









        <div class="terminator">&nbsp;</div>
    </div>

    <div class="col-md-6 actionpoints-summary" style="background-color: blue;">
        asdfasdf
    </div>
</div>