<div class="container-fluid" id="create-meeting">
    <div class="container" ng-controller="MeetingNoteCtrl as mnc">
        <div class="colorbar" ng-class="mnc.meeting.color">
            <div class="pull-right" id="close-button">
                <a href="/">Back <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
        </div>
        <div class="content meeting">
            <form ng-submit="mnc.publishMeeting()" name="meetingForm">
                <div class="page-header">
                    <div class="meeting-header-goal row">
                        <span>Please specify what you want to achieve with this meeting:</span>


                        <input type="text" placeholder="Meetinggoal *" class="form-control" ng-model="mnc.meeting.goal" required
                               popover="What do you want to achieve with this meeting?"  popover-trigger="focus">
                    </div>

                </div>
                <div class="panel-group" bs-collapse ng-model="mnc.activePanel">
                    <div class="panel panel-primary" ng-click="mnc.setActivePanel(0)">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a bs-collapse-toggle ng-click="mnc.setActivePanel(0)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="mnc.activePanel != 0"></span>
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-show="mnc.activePanel == 0"></span>
                                    Meeting Informations
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse" bs-collapse-target>
                            <div class="panel-body">
                                <div class="meeting-header-information row">
                                    <div class="col-md-6">
                                        <input type="email" class="form-control organisator" ng-model="mnc.meeting.organizer" ng-options="organizer for organizer in mnc.availableUser" placeholder="Organisator" bs-typeahead required popover="Who is the organizer of the meeting?" popover-trigger="focus">
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <div class="form-inline pull-right">

                                            <div class="form-group date-time-picker" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                                                <input type="text" class="form-control" ng-model="mnc.meeting.date" data-date-format="dd.MM.yyyy" data-date-type="number" data-autoclose="1" name="date2" bs-datepicker>
                                            </div>
                                            <div class="form-group date-time-picker" ng-class="{'has-error': timepickerForm.time2.$invalid}">
                                                <input type="text" class="form-control" size="5" ng-model="mnc.meeting.date" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" minuteStep="30" name="time2" bs-timepicker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div  class="meeting-header-attendees row">
                                    <h5>Attendees:</h5>

                                    <div class="col-md-4 col-sm-12 attendee" ng-repeat="meetingAttendee in mnc.meeting.attendees track by $index">
                                        <div class="input-group">
                                            <input type="email" class="form-control" ng-model="mnc.meeting.attendees[$index]" ng-options="attendee for attendee in mnc.availableUser" placeholder="Enter attendee" bs-typeahead>
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger" type="button" ng-click="mnc.removeAttendee($index)"><span class="glyphicon glyphicon-remove"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" style="padding: 0px;">
                                        <button type="button" class="btn btn-primary" ng-click="mnc.addAttendee()"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success" ng-click="mnc.setActivePanel(1)">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a bs-collapse-toggle ng-click="mnc.setActivePanel(1)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="mnc.activePanel != 1"></span>
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-show="mnc.activePanel == 1"></span>
                                    Meeting Protocol
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse" bs-collapse-target>
                            <div class="panel-body">
                                <div class="row meeting-decisions">
                                    <h5>Decisions</h5>
                                    <div class="col-xs-11" ng-repeat="decision in mnc.meeting.decisions track by $index">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Decision"  ng-model="mnc.meeting.decisions[$index].subject">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" ng-click="mnc.removeDecision($index)"><span class="glyphicon glyphicon-remove"></span></button>
                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-1" style="padding: 0px;">
                                        <button type="button" class="btn btn-primary" ng-click="mnc.addDecision()"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </div>
                                <div class="row meeting-todos">
                                    <h5>ToDos</h5>
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th style="width: 50%">Note</th>
                                            <th>Owner</th>
                                            <th>Due</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="actionPoint in mnc.meeting.actionPoints track by $index">
                                            <td class="todo-note">
                                                <input type="text" class="form-control" placeholder="Note" ng-model="actionPoint.subject">
                                            </td>
                                            <td class="todo-owner">
                                                <input type="email" class="form-control" ng-model="actionPoint.owner" ng-options="attendee for attendee in mnc.meeting.attendees" placeholder="Owner" bs-typeahead>
                                            </td>
                                            <td class="todo-due">
                                                <div class="form-inline">

                                                    <div class="form-group date-time-picker" ng-class="{'has-error': datepickerForm.date2.$invalid}">
                                                        <input type="text" class="form-control" ng-model="actionPoint.dueDate" data-date-format="dd.MM.yyyy" data-date-type="number" data-autoclose="1" name="date2" bs-datepicker>
                                                    </div>
                                                    <div class="form-group date-time-picker" ng-class="{'has-error': timepickerForm.time2.$invalid}">
                                                        <input type="text" class="form-control" size="5" ng-model="actionPoint.dueDate" data-time-format="HH:mm" data-time-type="number" data-autoclose="1" minuteStep="30" name="time2" bs-timepicker>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="delete" ng-click="mnc.removeTodo($index)"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span></button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-primary" ng-click="mnc.addTodo()"><span class="glyphicon glyphicon-plus"></span> Add Todo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="meeting-footer">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="/" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <button type="button" class="btn btn-info" ng-click="mnc.finishMeeting()" ng-show="mnc.isPublished()"><span class="glyphicon glyphicon-flag"></span> Finish</button>
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> {{mnc.saveButtonText}}</button>
                                <button type="button" class="btn btn-danger pull-right" ng-click="mnc.removeMeeting()" ng-show="mnc.isPublished()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <pre>
                {{mnc.meeting | json}}
            </pre>

        </div>
    </div>
</div>