<div class="row">
    <div class="col-xs-12 actions">
        <a href="#/meeting/create" class="btn">Create Meeting</a>
        <a href="#/meeting/create" class="btn">Take Notes</a>
    </div>
</div>
<div class="row home">

    <div class="col-md-6 home-notes" ng-controller="MeetingListCtrl as mlc">
        <div class="meeting-summary" ng-repeat="meeting in mlc.meetings.localMeetings">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" ng-style="{'background-color':'{{meeting.color}}'}">
                    <div class="colorbar-date">
                        <span class="month">Oct</span>
                        <span class="day">27</span>
                        <span class="weekday">Mon</span>
                    </div>
                </div>
                <div class="meeting-summary-content">
                    <span class="local">(Local)</span>
                    <h2 ng-hide="meeting.goal == ''"><a ng-href="/#/meeting/create?id={{meeting._id.oid}}">{{meeting.goal}}</a></h2>
                    <h2 ng-show="meeting.goal == ''"><a ng-href="/#/meeting/create?id={{meeting._id.oid}}">(No Name)</a></h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <a>{{meeting.organizer}}</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="meeting-summary" ng-repeat="meeting in mlc.meetings.remoteMeetings">
            <div class="meeting-summary-frame">
                <div class="meeting-summary-colorbar" ng-style="{'background-color':'{{meeting.color}}'}">
                    <div class="colorbar-date">
                        <span class="month">{{meeting.updated | date:'MMM'}}</span>
                        <span class="day">{{meeting.updated | date:'dd'}}</span>
                        <span class="weekday">{{meeting.updated | date:'EEE'}}</span>
                    </div>
                </div>
                <div class="meeting-summary-content">

                    <h2><a ng-href="/#/meeting/edit?id={{meeting._id.oid}}">{{meeting.goal}}</a></h2>
                    <div class="user-icon">
                        <span class="glyphicon glyphicon-user"></span>
                    </div>
                    <div class="organisator">
                        <a>{{meeting.organizer}}</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="terminator">&nbsp;</div>
        <div class="row">
            <hr>
            <h4>Debug:</h4>
            <pre>{{ mlc.meetings | json }}</pre>
        </div>
    </div>

    <div class="col-md-6 actionpoints-summary">
        <div class="actionpoint">
            <div class="meeting-summary-colorbar" style="background-color: #27AE60;">
                <div class="colorbar-date">
                    <span class="month">Oct</span>
                    <span class="day">27</span>
                    <span class="weekday">Mon</span>
                </div>

            </div>
            <div class="actionpoint-content">
                <span class="label label-info"><span class="glyphicon glyphicon-flag"></span> To-Do</span>
                <a>Erstellen eines neuen Mockups für die gesammelten Ideen</a>
            </div>
        </div>

        <div class="actionpoint">
            <div class="meeting-summary-colorbar" style="background-color: #27AE60;">
                <div class="colorbar-date">
                    <span class="month">Oct</span>
                    <span class="day">27</span>
                    <span class="weekday">Mon</span>
                </div>

            </div>
            <div class="actionpoint-content">
                <span class="label label-info"><span class="glyphicon glyphicon-flag"></span> To-Do</span>
                <a>Erstellen eines neuen Mockups für die gesammelten Ideen</a>
            </div>
        </div>


    </div>

</div>
