<div class="row">
    <h1>Bettermeeting</h1>
    <div class="row">
        <div class="col-md-6">
                <p>Create your Meeting Notes right now!</p>
            <div class="row">
                <a href="/#/meetings/create" class="btn btn-primary" id="create-meeting">Create a new Meeting</a><br />
                <label for="create-meeting">Prepare a new meeting and invite attendees</label>
            </div>
            <div class="row">
                <a href="/#/meetings/create" class="btn btn-primary" id="take-notes">Start taking Notes</a><br />
                <label for="take-notes">Already in the meeting? Start with taking notes</label>
            </div>
            <div class="row">
                <a href="/#/meetings" class="btn btn-primary" id="open-saved">Open saved Meeting Notes</a><br />
                <label for="open-saved">Browse to your saved notes</label>
            </div>

            <hr />

            <p><a href="/#/meetings">Meetings</a></p>
            <p><a href="/#/users">Users</a></p>

        </div>
        <div class="col-md-6">
            <h3>My Action Points</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Note</th>
                        <th>Meeting</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Create a new Mockup for Ideas</td>
                        <td>Create Prototype</td>
                        <td>10.10.2014</td>
                    </tr>
                    <tr>
                        <td>Write Concept down</td>
                        <td>Create Prototype</td>
                        <td>11.10.2014</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




</div>

