<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h3>Meetings</h3>
                </div>
                <div id="note-container" ng-controller="HomeMeetingListCtrl as mlc">
                        <div class="note" ng-click="mlc.openNewMeeting()">
                            <div class="add-meeting">
                                <a href="/#/meeting/note">
                                    <span class="glyphicon glyphicon-plus"></span><br />
                                Add Meeting
                            </a>
                        </div>
                    </div>
                    <div class="note" ng-repeat="meeting in mlc.meetings" ng-class="meeting.color">
                        <div class="note-frame">
                            <div class="meeting-summary-colorbar" ng-click="mlc.openMeeting($index)">
                                <div class="colorbar-date">
                                    <span class="month">{{meeting.date | date:'MMM'}}</span>
                                    <span class="day">{{meeting.date | date:'dd'}}</span>
                                    <span class="weekday">{{meeting.date | date:'EEE'}}</span>
                                </div>
                            </div>
                            <div class="meeting-content">
                                <h5><a ng-href="/#/meeting/note?id={{meeting._id.$oid}}">{{meeting.goal}}</a></h5>
                                <div class="meeting-note-goal">
                                    <p>{{meeting.goalStatus}}% Ziel erreicht</p>
                                    <img ng-show="meeting.goalStatus <= 20" src="/assets/images/emoticons/smiley-3.png" />
                                    <img ng-show="meeting.goalStatus > 20 && meeting.goalStatus <= 60" src="/assets/images/emoticons/smiley-11.png" />
                                    <img ng-show="meeting.goalStatus > 60 && meeting.goalStatus <= 80" src="/assets/images/emoticons/smiley-9.png" />
                                    <img ng-show="meeting.goalStatus > 80 && meeting.goalStatus <= 90" src="/assets/images/emoticons/smiley-8.png" />
                                    <img ng-show="meeting.goalStatus > 90" src="/assets/images/emoticons/smiley-6.png" />
                                </div>
                                <div class="meeting-note-todo">
                                    <p>{{meeting.todoStatus}}% ToDos erledigt</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" ng-style="{width : ( meeting.todoStatus + '%' ) }">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div class="row" ng-controller="HomeToDoListCtrl as tlc" id="todo-container">
                    <h3>ToDo</h3>
                    <div class="todo-item" ng-repeat="todo in tlc.todos"  ng-class="todo.color">
                        <div class="todo-actions">
                            <div class="div-done">
                                <button type="button" class="btn btn-done" ng-click="tlc.doneClicked($index)">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <span>DONE</span>
                            </div>
                            <div class="div-later">
                                <button type="button" class="btn btn-later" title="Do this Task Later" data-content="Set new Time and Date"
                                        data-template="/assets/partials/templates/popover-demo.html" data-animation="am-flip-x" data-auto-close="1" bs-popover>
                                    <span class="glyphicon glyphicon-time"></span>
                                </button>
                                <span>LATER</span>
                            </div>
                        </div>
                        <div class="todo-info">
                            <h5>{{todo.subject}}</h5>
                            <div>
                                <div class="due-date">
                                    <span>{{todo.dueDate | date:'dd.MM.yyyy HH:mm'}}</span>
                                </div>
                                <div class="time-left">
                                    <span>{{tlc.daysLeft($index)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="tlc.todos.length == 0">
                        No To-Dos yet
                    </div>
                </div>
                <div class="row" ng-controller="HomeLeaderboardCtrl as hlc" id="leaderboard-container">
                    <h3>Leaderboard</h3>
                    <div class="leaderboard-score">
                        <div class="score-frame">
                            <div class="score-case leader">
                                <div>Meeting Leader</div>
                                <div>{{hlc.ownPoints.meetingLeader}}</div>
                            </div>
                        </div>
                        <div class="score-frame">
                            <div class="score-case attendee">
                                <div>Meeting Attendee</div>
                                <div>{{hlc.ownPoints.meetingAttendee}}</div>
                            </div>
                        </div>
                        <div class="score-frame">
                            <div class="score-case todo">
                                <div>Meeting Todo</div>
                                <div>{{hlc.ownPoints.meetingTodos}}</div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rank in hlc.leaderboard" ng-class="rank.selft ? 'active' : ''">
                                <td>{{rank.rank}}</td>
                                <td>{{rank.name}}</td>
                                <td>{{rank.points}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" id="legend-container">
                    <h4>Legende</h4>
                    <div class="row">
                        <div id="color-new" class="legend-box"></div>
                        <p>This is a new Meeting</p>
                    </div>
                    <div class="row">
                        <div id="color-organizer" class="legend-box"></div>
                        <p>You are the Organizer of the Meeting</p>
                    </div>
                    <div class="row">
                        <div id="color-attendee" class="legend-box"></div>
                        <p>You are an Attendee of the Meeting</p>
                    </div>
                    <div class="row">
                        <div id="color-important" class="legend-box"></div>
                        <p>This meeting is marked as important</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>