@import "lib/bootstrap/less/bootstrap.less";

@tourquoise: #1ABC9C;
@tourquoise-dark: #16A085;

@green: #2ECC71;
@green-dark: #27AE60;

@blue: #3498DB;
@blue-dark: #2980B9;

@violet: #9B59B6;
@violet-dark: #8E44AD;

@dark-blue: #34495E;
@dark-blue-dark: #2C3E50;

@yellow: #F1C40F;
@yellow-dark: #F39C12;

@orange: #E67E22;
@orange-dark: #D35400;

@red: #E74C3C;
@red-dark: #C0392B;

@grey: #ECF0F1;
@grey-dark: #BDC3C7;

@dark-grey: #95A5A6;
@dark-grey-dark: #7F8C8D;

@white: #FFFFFF;
@black: #000000;

@dark-background: #323A41;
@dark-background-navigation: #272D33;

@dark-font-heading: #383F49;
@dark-font: #555;

/*
.ng-pristine { border:1px solid Gold; }
.ng-dirty.ng-valid { border:1px solid Green; }
.ng-dirty.ng-invalid { border:1px solid Red; }
.ng-dirty.ng-valid ~ span.ok { color:green; display:inline; }
.ng-dirty.ng-invalid ~ span.ko { color:red; display:inline; }
*/

html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  color: @dark-font;
  font: 'Arimo', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: @dark-background;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: @dark-font-heading;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: @dark-background-navigation;
}

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 150px;
}
.container .text-muted {
  margin: 20px 0;
}

.navbar-default{
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: @dark-background-navigation;
  border-color: @dark-blue-dark;
  background-image: none;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 700;
  .title {
    font-weight: 900;
    font-size: 120%;
  }
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: @white;
  text-shadow: none;
  &:hover{
    background-color: @dark-blue;
    color: @tourquoise;
    text-shadow: none;
  }
}


.container {
  padding: 0px 5px;
}

.actions {
  margin-bottom: 20px;
  .btn {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: @dark-background-navigation;
    color: @white;
    font-weight: 600;
    margin-right: 20px;
    font-size: 140%;

    &:hover {
      background-color: @dark-blue;
      color: @tourquoise;
    }
  }
}
.home {
  margin: 0px 5px;
  .home-notes {
    padding: 0px;
  }
  .meeting-summary {
    width: 100%;
    @media (min-width: @screen-sm-min) {
      width: 50%;
    }
    float: left;
    padding: 0px 20px 20px 0px;
    .meeting-summary-frame {
      .meeting-summary-content {
        background-color: @white;
        padding-top: 0px;
        h2 {
          word-wrap: break-word;
          line-height: 1;
          padding: 30px 5px;
          margin-top: 0px;
          text-align: center;
          min-height: 132px;
          a {
            color: @dark-font-heading;
            &:hover{
              color: @dark-font;
              cursor: pointer;
            }
          }
        }
        .local {
          color: @dark-grey;
          margin-left: 5px;
        }
        .user-icon {
          background-color: @violet;
          float: left;
          width: 40px;
          height: 40px;
          text-align: center;
          padding-top: 7px;
          color: white;
          font-size: 19px;
          line-height: 1.6;
        }
        .organisator {
          height: 40px;
          border-top: 2px solid @violet;
          border-bottom: 2px solid @violet;
          padding-top: 6px;
          a {
            color: @dark-grey;
            padding-left: 10px;
            &:hover {
              color: @dark-font-heading;
              cursor: pointer;
            }
          }
        }
      }
      .meeting-summary-colorbar {
        &:hover {
          cursor: pointer;
        }
        height: 150px;
        .colorbar-date {
          width: 100px;
          margin: 0 auto;
          span {
            display: block;
            text-align: center;
          }
          .month{
            color: @white;
            padding-top: 5px;
            font: 19px/1.6 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;

          }
          .day{
            color: @dark-font-heading;
            height: 80px;
            font-weight: 900;
            font-size: 50px;
            background-color: @white;
          }
          .weekday{
            color: @white;
            font: 19px/1.6 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
          }
        }
      }
    }
  }
  .actionpoints-summary{
    .meeting-summary-colorbar {
      &:hover {
        cursor: pointer;
      }
      height: 107px;
      width: 70px;
      float: left;
      margin-right: 20px;
      .colorbar-date {
        margin: 0 auto;
        span {
          display: block;
          text-align: center;
        }
        .month{
          color: @white;
          padding-top: 5px;
          font: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;

        }
        .day{
          color: @dark-font-heading;
          height: 55px;
          font-weight: 900;
          font-size: 40px;
          background-color: @white;
        }
        .weekday{
          color: @white;
          font: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
        }
      }
    }
    .actionpoint-content {
      background-color: @white;
      margin-left: 20px;
      margin-right: 20px;
      height: 107px;
      padding: 20px;
      font-size: 19px;
      line-height: 1.6;
      a {
        color: @dark-font;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .actionpoint {
      margin: 0 -15px 20px -15px;
    }





  }
}
.terminator{
  clear: both;
  height: 0px;
}








.frame{
  margin-top: 10px;
  @media (min-width: 768px) {
    margin-top: 50px;
  }
}

.content{
  font-size: 19px;
  line-height: 1.6;
  background-color: @white;
  padding: 100px 15px;
  @media (min-width: 768px) {
    padding: 100px;
  }
}

.colorbar{
  height: 10px;
}

.meeting{
  input.ng-dirty.ng-invalid {
    border-color: @red;
  }
  .input-group-btn {
    vertical-align: top;
  }

  // 1
  .delete {
    width: 30px;
    text-align: right;

  }
  input {
    border: 1px solid white;
    box-shadow: none;
    &:hover{
      background-color: lighten(@blue, 40%);
    }
    &:focus {
      border: 1px solid @dark-blue;
      box-shadow: none;
      background-color: lighten(@blue, 20%);
    }
  }
  .meeting-header {
    // 2
    input {
      margin-bottom: 10px;
    }
    p {
      padding-top: 7px;
      color: @dark-grey-dark;
    }

    margin-bottom: 50px;
    .meeting-header-goal {
      //3
      input {
        font-size: 150%;
        @media (min-width: 768px) {
          font-size: 200%;
        }
        font-weight: 600;
        line-height: 1.4;
        height: 80px;
        text-align: center;
        color: @dark-font-heading;
      }
    }
    .meeting-header-information {
      // 4
    }
    .meeting-header-attendees {
      // 5
      h2{
        font-size: 90%;
      }
      div.attendee {
        padding: 0px 5px 0px 0px;
        input {
          background-color: @grey;
          &:hover {
            background-color: lighten(@blue, 40%);
          }
          &:focus {
            background-color: lighten(@blue, 20%);
          }
        }
      }
    }
  }
  .meeting-body {
    //6
    margin-bottom: 50px;

    table {
      width: 100%;
    }
    thead {
      // 7

    }
    tbody {
      td {
        height: 40px;
      }
      // 8
      input {
        margin: 2px;
        background-color: darken(@grey, 10%);
        &:hover {
          background-color: lighten(@blue, 40%);
        }
        &:focus {
          background-color: lighten(@blue, 20%);
        }
      }
      select {
        border: none;
        box-shadow: none;
        background-color: darken(@grey, 10%);
      }
      .todo{
        input {
          color: darken(@blue, 20%);
        }

        select {
          color: @blue;
          &:hover{
            background-color: @blue;
            color: @white;
          }
          &:focus{
            background-color: @blue;
            color: @white;
          }
        }

      }
      .decision{
        input {
          color: darken(@green, 20%);
        }
        select {
          color: @green;
          &:hover{
            background-color: @green;
            color: @white;
          }
          &:focus{
            background-color: @green;
            color: @white;
          }
        }

      }
      .info{
        input {
          color: darken(@red, 20%);
        }
        select {
          color: @red;
          &:hover{
            background-color: @red;
            color: @white;
          }
          &:focus{
            background-color: @red;
            color: @white;
          }
        }

      }
      tr:nth-child(odd){
        input {
          background-color:@grey;
          &:hover {
            background-color: lighten(@blue, 40%);
          }
          &:focus {
            background-color: lighten(@blue, 20%);
          }
        }
        select {
          background-color: @grey;
        }
      }
    }
  }
}