<!doctype html>
<html lang="en" ng-app="bmApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bettermeeting</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("lib/angular-motion/angular-motion.css")'>

</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand title" href="/#/">Bettermeeting</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Account</a></li>
                    <li><a href="/#/logout" ua-logout>Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>
    <div class="view-containter">
        <div ng-view class="view-frame"></div>
    </div>
</body>
<script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angularjs/angular.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angularjs/angular-route.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angularjs/angular-resource.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angularjs/angular-animate.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angular-local-storage/angular-local-storage.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/momentjs/moment.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angular-strap/angular-strap.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/angular-strap/angular-strap.tpl.min.js")" type="text/javascript"></script>


<!-- Coffee script compilled resources-->
<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/services/MeetingService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/services/UserControlService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/services/ToDoService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/services/LeaderboardService.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/users/UserService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/UserCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/CreateUserCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/meeting-offline/MeetingBase.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting-offline/MeetingCreateCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting-offline/MeetingEditCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting-offline/MeetingListCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/home/HomeToDoListCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/home/HomeMeetingListCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/home/HomeLeaderboardCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/meeting/MeetingNoteCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/login/LoginCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/login/LogoutCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/login/SignupCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/TestCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/plugins/jquery.freetile.min.js")' type="text/javascript"></script>

</html>