<!doctype html>
<html lang="en" ng-app="bmApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bettermeeting</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <!--<link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-theme.css")">-->



    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <!--<link rel='stylesheet' id='pocket-raleway-css'  href='http://fonts.googleapis.com/css?family=Raleway:300,500,700,800' type='text/css' media='all' />
    <link rel='stylesheet' id='pocket-arimo-css'  href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' type='text/css' media='all' />-->

</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand title" href="#">Bettermeeting</a>
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Account</a></li>
                    <li><a href="#" ua-logout>Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>
    <div class="container">
        <div ng-view></div>
    </div><!-- /.container -->
    <div class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div>
</body>

    <script src="@routes.Assets.at("lib/angularjs/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angularjs/angular-route.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/angular-local-storage/angular-local-storage.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
    <!--<script src="@routes.Assets.at("lib/bootswatch-paper/js/bootstrap.js")" type="text/javascript"></script>-->


<!-- Coffee script compilled resources-->
<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/users/UserService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/UserCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/CreateUserCtrl.js")' type="text/javascript"></script>


<script src='@routes.Assets.at("javascripts/offline/OfflineMeetingService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/offline/OfflineMeetingCreateCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/offline/OfflineMeetingListCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/meeting/MeetingBase.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting/MeetingService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting/MeetingCreateCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting/MeetingEditCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/meeting/MeetingListCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/login/LoginCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/login/AuthenticationService.js")' type="text/javascript"></script>

</html>